
<body>
<h1> schedule ตารางงาน <%= current_user.name %> </h1>


<%= form_tag schedule_path , :method => :get do %>
  <%= button_tag "Time in", :type => "save_in" , :name => "save_in" %>
  <%= button_tag "Time out", :type => "save_out" , :name => "save_out" %>
<% end %>

<%= @c %>
