
<h1> Create Leader User </h1>

<%= form_tag admin_create_leader_path, :method => :post do %>
	<%= render :partial => 'create_user' %>
	Department1 : <%= text_field("department1", "department1") %> <br>
	Department2 : <%= text_field("department2", "department2") %> <br>
	Department3 : <%= text_field("department3", "department3") %> <br>
	<%= submit_tag 'Submit' , :name => "submit" %> <br>
<% end %>


