<body>
  <h1 class='title'>Plan แผนก <%= @dep %></h2>

    <%= form_tag(edit_dashboard_path(@dep), method: 'get') do %>
      <div class="pick-time">


      <div class="section-select-container">
        Date assign

        <% if @status == true %>
          <%= date_field("date_in","date_in" , :value => @date_in) %>
        <% else %>
          <%= date_field("date_in","date_in" , :value => @today) %>
        <% end %>
        <%= submit_tag 'select' , :name => "choose", :id =>"submit-btn", :style => "display:none" %>
        <div class="to-container" id="to-div">
          to
          <%= date_field("date_out","date_out", :value => @today,:min => @today) %>
        </div>

      </div>
      <div class="controll-container">


      <div class="time-plan-container">

        Time <%= select_tag :time, options_for_select(@all_time, @default_select)  %>
        OT <%= text_field :emp, :OT %>
        <%= submit_tag "Submit" , :name=>'ass_button' , :class => "summit-plan"%>

      </div>
      <div class="delete-section">
        <%= submit_tag "Delete" , :name=>'delete' %>
      </div>
      </div>

      </div>


  <div class="table-container">
    <h4>แผนงานวันที่ : <%= @table_date %></h4>
    <table>
      <tr>
        <th><%= check_box_tag :check_all %></th>
        <th>ชื่อ-นามสกุล</th>
        <th>เวลาเข้างาน</th>
        <th>เวลาออกงาน</th>
        <th>OT Plane</th>
      </tr>
      <% @employee.each do |users| %>
      <% if @status == false %>
          <% user_plan = users.plans.find_by_date(@today) %>
      <% elsif @status == true %>
          <% user_plan = users.plans.find_by_date(@date_in) %>
      <% end %>
      <tr>
        <td><%= check_box_tag "select_user[]", users.id %></td>
        <td><%= users.name.to_s+" "+users.surname.to_s %></td>
        <% if user_plan != nil  %>
          <% if user_plan.date != nil  %>
            <td><%= (user_plan.time_in + (3600*12)).strftime('%H:%M') %></td>
            <td><%= (user_plan.time_out + (3600*12)).strftime('%H:%M') %></td>
            <td><%= user_plan.OT.to_s %></td>
          <% else %>
            <td> - </td>
            <td> - </td>
            <td> - </td>
          <% end %>
        <% else %>
          <td> - </td>
          <td> - </td>
          <td> - </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  <% end %>
</div>

</body>

<%= javascript_pack_tag 'select_all', 'data-turbolinks-track':'reload' %>
<%= javascript_pack_tag 'edit', 'data-turbolinks-track':'reload' %>
