<h1 class="headerer">
	<%= link_to 'Assign shift', root_path %>
</h1>


<h1> 
	<%= @department_name %> 
</h1>

<%= link_to 'Plan', edit_dashboard_path(@department_name) %><br>
<% day = Time.current.strftime("%Y-%m-%d") %>
<% date = day.to_time %>

<div id = "pick_time">
	<%= form_tag dashboard_path(@department_name) , :method => :get do %>
		กะการทำงาน :    
		<%= select_tag 'time_in', options_for_select(@all_time, @select)  %>
		<br>
		วันที่ทำงาน : 
		<% if @status == true %>
			<%= date_field("date_work", "date_work" , :value => @calender ) %>
		<% else %>
			<%= date_field("date_work", "date_work" , :value => day ) %>
		<% end %>
		<%= submit_tag 'choose' , :name => "choose"  %>
	<% end %>
</div>


<% num_now = 0 %>

<% @all_workers.each do |num| %>
	<% actual = num.actuals.find_by_date(date) %>
	<% if actual != nil %>
		<% if actual.time_in != nil && actual.time_out == nil %>
			<% num_now += 1 %>
		<% end %>
	<% end %>
<% end %>


<% num_all_work = @all_workers.length() %>
<%= "จำนวนคน : "+ num_now.to_s + " / " + num_all_work.to_s %>


<table >
	<thead>
		<tr>
			<th> ชื่อ-นามสกุล </th>
			<th> เวลาเข้างาน </th>
			<th> เวลาออกงาน </th>
			<th> OT </th>
		</tr>
	</thead>
	<tbody>
		<% @all_workers.each do |worker| %>
			<tr>
				<td><%= worker.name + " " + worker.surname %></td>

				<% if @status == false %>
					<% worker_all_actuals = worker.actuals.find_by_date(date) %>
				<% elsif @status == true %>
					<% worker_all_actuals = worker.actuals.find_by_date(@calender) %>
				<% end %>

				<% if @select == "all"  %>
					<% if @status == false %>
						<% worker_all_plan = worker.plans.find_by_date(date) %>
					<% elsif @status == true %>
						<% worker_all_plan = worker.plans.find_by_date(@calender) %>
					<% end %>

				<% else %>
					<% worker_all_plan = worker.plans.find_by(:date => @calender , :time_in => @t_in) %>
				<% end %>



				<% if worker_all_actuals != nil && worker_all_plan != nil  %>

					<% if worker_all_actuals.time_in != nil  %>
						<td><%= worker_all_actuals.time_in.strftime('%H:%M:%S') + '/' + (worker_all_plan.time_in + (3600*12)).strftime('%H:%M:%S') %></td>
					<% else %>
						<td> - </td>
					<% end %>

					<% if worker_all_actuals.time_out != nil %>
						<td><%= worker_all_actuals.time_out.strftime('%H:%M:%S') + '/' + (worker_all_plan.time_out+(3600*12)).strftime('%H:%M:%S')%></td>
					<% else %>
						<td> - </td>
					<% end %>

					<% if worker_all_actuals.OT != nil %>
						<td><%= worker_all_actuals.OT.to_s + '/' + worker_all_plan.OT.to_s %></td>
					<% else %>
						<td> - </td>
					<% end %>

				<% else %>
					<% if worker_all_plan != nil %>
						<td> <%= '- / ' + (worker_all_plan.time_in + (3600*12)).strftime('%H:%M:%S') %></td>
						<td> <%= '- / ' + (worker_all_plan.time_out+(3600*12)).strftime('%H:%M:%S') %></td>
						<td> <%= '- / ' + worker_all_plan.OT.to_s %></td>
					<% else %>
						<td> - </td>
						<td> - </td>
						<td> - </td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
